*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --index: calc(1vw + 1vh);    
}

body{
    background-color: #141414;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.items{
    display: flex;
    padding: 4px;
    perspective: 50px;
}

.item{
    margin: 5px;
    width: 8vh;
    height: 50vh;
    background-color: #222;
    border: 2px solid #fff;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    filter: grayscale() brightness(.5);
}

.item:hover{
    cursor: pointer;
    filter: inherit;
    transform: translateZ(11px) translateY(11px);
    z-index: -1;
    
}
.item:hover+*{
    cursor: pointer;
    filter: inherit;
    transform: translateZ(9px) translateY(9px);
    z-index: -2;
}
.item:hover+*+*{
    cursor: pointer;
    filter: inherit;
    transform: translateZ(8px) translateY(8px); 
    z-index: -3;
}
.item:hover+*+*+*{
    cursor: pointer;
    filter: inherit;
    transform: translateZ(7px) translateY(7px);
    z-index: -4;
}
.item:hover+*+*+*+*{
    cursor: pointer;
    filter: inherit;
    transform: translateZ(6px) translateY(6px);
    z-index: -5;
}
.item:hover+*+*+*+*+*{
    cursor: pointer;
    filter: inherit;
    transform: translateZ(5px) translateY(5px);
    z-index: -6;
}
.item:hover+*+*+*+*+*+*{
    cursor: pointer;
    filter: inherit;
    transform: translateZ(4px) translateY(4px);
    z-index: -7;
}

.item:has(+ :hover){
    cursor: pointer;
    filter: inherit;
    transform: translateZ(9px) translateY(9px); 
}
.item:has(+*+ :hover){
    cursor: pointer;
    filter: inherit;
    transform: translateZ(8px) translateY(8px); 
}
.item:has(+*+*+ :hover){
    cursor: pointer;
    filter: inherit;
    transform: translateZ(7px) translateY(7px); 
}
.item:has(+*+*+*+ :hover){
    cursor: pointer;
    filter: inherit;
    transform: translateZ(6px) translateY(6px); 
}
.item:has(+*+*+*+*+ :hover){
    cursor: pointer;
    filter: inherit;
    transform: translateZ(5px) translateY(5px); 
}
.item:has(+*+*+*+*+*+ :hover){
    cursor: pointer;
    filter: inherit;
    transform: translateZ(4px) translateY(4px); 
}

.item:active {
    width: 28vw;
    filter: inherit;
    z-index: 100;
    transform: translateZ(10px);
    margin: 0 .45vw;
    transition: all 1.5s;
}

.item:focus {
    width: 28vw;
    filter: inherit;
    z-index: 100;
    transform: translateZ(10px);
    margin: 0 .45vw;
    transition: all 1.5s;
}